<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">

    <div class="container">
        <a class="navbar-brand" href="#">Products Application</a>

        <ul class="navbar-nav me-auto" *ngIf="currentUser$ | async">
            <li class="nav-item">
                <a class="nav-link active" href="#">User Register</a>
            </li>
            <li class="nav-item">
                <a class="nav-link " href="#">List Products</a>
            </li>
            <li class="nav-item">
                <a class="nav-link " (click)="logout()" href="#">Logout</a>
            </li>
        </ul>
        <div class="dropdown" *ngIf="currentUser$ | async" dropdown>
            <a class="dropdown-toggle text-light" dropdownToggle>
                Welcome User
            </a>

            <div class="dropdown-menu" *dropdownMenu>
                <div class="dropdown-item">Dummy</div>
                <div class="dropdown-divider"></div>
                <div class="dropdown-item" (click)="logout()">Logout</div>
            </div>
        </div>
        <form *ngIf="(currentUser$ | async) === null" #loginForm="ngForm" class="d-flex" (ngSubmit)="login()" autocomplete="off">
            <input name="username" [(ngModel)]="model.userName" class="form-control me-2" type="text"
                placeholder="Username">
            <input name="password" [(ngModel)]="model.password" class="form-control me-2" type="password"
                placeholder="Password">

            <button class="btn btn-outline-success" type="submit">Submit</button>
        </form>

    </div>


</nav>