<form #registerForm="ngForm" (ngSubmit)="register()" autocomplete="off">
    <h2 class="text-center text-primary">Sign Up</h2>
    <hr>
    <div class="form-group">
        <input type="text" name="username" class="form-control" [(ngModel)]="model.userName" placeholder="Username">
    </div>
    <div class="form-group">
        <input type="password" name="password" class="form-control" [(ngModel)]="model.password" placeholder="Password">
    </div>
    <div class="form-group">
        <input type="text" name="firstName" class="form-control" [(ngModel)]="model.firstName" placeholder="First Name">

    </div>
    <div class="form-group">
        <input type="text" name="lastName" class="form-control" [(ngModel)]="model.lastName" placeholder="Last Name">

    </div>
    <div class="form-group">
        <input type="date" name="dateOfBirth" class="form-control" [(ngModel)]="model.dateOfBirth"
            placeholder="Date of Birth">

    </div>
    <div class="form-group">
        <input type="text" name="email" class="form-control" [(ngModel)]="model.email" placeholder="Email">
    </div>
    <div class="form-group text-center">
        <button type="submit" class="btn btn-success mr-2">
            Register
        </button>
        <button (click)="cancel()" type="button" class="btn btn-default mr-2">
            Cancel
        </button>
    </div>
</form>